<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="username" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <input type="text" placeholder="Phone #" name="phone" required/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Welcome, {{username}}
<form action="/payment" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_MOU1Z1VLykeov0KAlWYNLhre"
            data-amount="2000"
            data-name="Text Alarm"
            data-description="Widget"
            data-image="/img/documentation/checkout/marketplace.png"
            data-locale="auto">
    </script>
</form>
{{/user}}
</body>
</html>