<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Alarm</title>
</head>
<body>
    {{^user}}
    <form action="/login" method="post">
        <input type="text" placeholder="Username" name="username" required/>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit">Login!</button>
    </form>
    {{/user}}

    {{#user}}
        <h1>Welcome, {{name}}!</h1>

        <form action="/pay" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_uQ4QD76p0P5DGiNY6gegNiKv"
                    data-amount="2000"
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
            </script>
        </form>
    {{/user}}
</body>
</html>